@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-ethnocentric: "Ethnocentric", sans-serif;
  --font-tt-squares: "TT Squares", sans-serif;
  --font-sora: "Sora", sans-serif;

  --text-h1: 3.5rem;
  --text-h1--line-height: 64px;
  --text-h2: 2.25rem;
  --text-h2--line-height: 41px;
  --text-h3: 2rem;
  --text-h3--line-height: 37px;
  --text-h4: 1.75rem;
  --text-h4--line-height: 32px;
  --text-h5: 1.5rem;
  --text-h5--line-height: 28px;
  --text-h6: 1.25rem;
  --text-h6--line-height: 23px;

  --text-b1: 1.75rem;
  --text-b1--line-height: 45px;
  --text-b2: 1.5rem;
  --text-b2--line-height: 39px;
  --text-b3: 1.25rem;
  --text-b3--line-height: 33px;
  --text-b4: 1rem;
  --text-b4--line-height: 27px;
  --text-b5: 0.75rem;
  --text-b5--line-height: 21px;
}

:root {
  --accents-grey-1: oklch(0.69 0 0);
  --accents-grey-2: oklch(0.51 0 0);
  --accents-grey-3: oklch(0.4 0 0);
  --accents-grey-4: oklch(0.34 0 0);

  --accents-retro-1: oklch(0.93 0.0841 87.11);
  --accents-retro-2: oklch(0.87 0.1429 85.48);
  --accents-retro-3: oklch(0.8 0.159 81.67);
  --accents-retro-4: oklch(0.72 0.145 81.12);

  --accents-white-1: oklch(0.97 0 0);
  --accents-white-2: oklch(0.91 0 0);
  --accents-white-3: oklch(0.88 0 0);
  --accents-white-4: oklch(0.82 0 0);

  --accents-yellow-1: oklch(0.96 0.1795 107.31);
  --accents-yellow-2: oklch(0.92 0.1577 98.67);
  --accents-yellow-3: oklch(0.88 0.1806 94.02);
  --accents-yellow-4: oklch(0.76 0.1537 97.8);

  --dark-1: oklch(0 0 0);
  --dark-2: oklch(0.27 0 0);
  --light-1: oklch(1 0 0);
  --light-2: oklch(0.86 0 0);

  --radius: 0.625rem;
  --background: oklch(0.27 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);

  --color-accents-grey-1: var(--accents-grey-1);
  --color-accents-grey-2: var(--accents-grey-2);
  --color-accents-grey-3: var(--accents-grey-3);
  --color-accents-grey-4: var(--accents-grey-4);

  --color-accents-retro-1: var(--accents-retro-1);
  --color-accents-retro-2: var(--accents-retro-2);
  --color-accents-retro-3: var(--accents-retro-3);
  --color-accents-retro-4: var(--accents-retro-4);

  --color-accents-white-1: var(--accents-white-1);
  --color-accents-white-2: var(--accents-white-2);
  --color-accents-white-3: var(--accents-white-3);
  --color-accents-white-4: var(--accents-white-4);

  --color-accents-yellow-1: var(--accents-yellow-1);
  --color-accents-yellow-2: var(--accents-yellow-2);
  --color-accents-yellow-3: var(--accents-yellow-3);
  --color-accents-yellow-4: var(--accents-yellow-4);

  --color-dark-1: var(--dark-1);
  --color-dark-2: var(--dark-2);
  --color-light-1: var(--light-1);
  --color-light-2: var(--light-2);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: "Sora", sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-light-1;
  }
}
